services:
  devportal:
    image: veecode/devportal:latest
    ports:
      - "7007:7007"
    environment:
      - DEVELOPMENT=true
      - LOG_LEVEL=info
    volumes:
      - ./app-config.dynamic.yaml:/app/app-config.local.yaml:ro
      - ./dynamic-plugins.yaml:/app/dynamic-plugins.yaml:ro
      # mounting dist-dynamic directly, no need to npm publish
      - ./plugins/dummy-backend/dist-dynamic:/app/dynamic-plugins/dist/veecode-platform-backstage-plugin-dummy-backend-dynamic:ro
      - ./plugins/dummy/dist-dynamic:/app/dynamic-plugins/dist/veecode-platform-backstage-plugin-dummy-dynamic:ro
